body {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.Text-property h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
.Text-property p {
  font-size: 20px;
  color: #fff;
}
.button-model {
  background-color: #ff5820;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 8px;
}
.Text-property {
  align-items: center;
  text-align: center;
}
header {
  height: 600px;
  width: 100vw;
  background: black;
  overflow: hidden;

  background: linear-gradient(rgba(29, 38, 113, 0.1), rgba(40, 36, 37, 0.6)),
    url("images/bannerds.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.donate-today {
  column-gap: -10px;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
}
p {
  font-size: 20px;
}
.counter {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.counter-element {
  background-color: gainsboro;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
}
.aling-tex input {
  width: 40%;
  padding: 20px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 20px;
}
.aling-tex {
  margin-left: 500px;
  width: 100%;
}
.center-button {
  display: flex;
  justify-content: center;
}
.plan-top-section {
  align-items: center;
  text-align: center;
}

.plan-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}
.donation-section {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
}
.main-contribute-section {
  justify-content: center;
  margin-top: 100px;
  display: flex;
}
.contribute {
  width: 35%;
  padding: 15px;
}

.contribute img {
  padding-top: 20px;
  border-radius: 5%;
}
.main-service-section {
  justify-content: center;
  margin-top: 100px;
  display: flex;
}
.service {
  width: 35%;
  padding: 15px;
}
.service img {
  padding-top: 20px;
  border-radius: 5%;
}

.subcribe {
  width: 800px;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 100px;
}
.subcribe-head {
  text-align: center;
}
.subcribe-body {
  background-color: rgb(242, 201, 152);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.subcribe-form input {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 4px;
  border: none;
  background-color: rgb(231, 231, 231);
  font-size: 20px;
}
.subcribe-form button {
  padding: 15px;
  background-color: rgb(255, 44, 86);
  color: white;
  border-radius: 4px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 20px;
}

.footer {
  background-color: #0d1020;
  padding: 20px;
}
.footer-child {
  align-items: center;
  text-align: center;
}
h3 {
  color: rgb(218, 50, 50);
  font-family: "Lobster", cursive;
  font-size: 40px;
}
.footer-child p {
  color: white;
}
